mixin article(title)
  .article
    .article-wrapper
      h3= title
        block

mixin header(title)
  header
    div.row
      div.col-md-12
        h1= title
        block

mixin feature(title)
  article
    h3= title
    block

mixin form_signUp
  form(action="register", method="post")
    legend
      span Enter your account information
    ul
      li
        label(for="username") Email
          input(id="username", name="username", type="text")
      li
        label(for="firstName") First Name
          input(id="firstName", name="firstName", type="text")
      li
        label(for="lastName") Last Name
          input(id="lastName", name="lastName", type="text")
      li
        label(for="password") Password
          input(id="password", name="password", type="password")
      li
        input(id="submit", name="submit", type="submit", value="Submit")

mixin form_login
  form(action="login", method="post")
    legend
      span Enter your account information
    ul
      li
        label(for="username") Email
          input(id="username", name="username", type="text")
      li
        label(for="password") Password
          input(id="password", name="password", type="password")
      li
        input(id="submit", name="submit", type="submit", value="Submit")

mixin form_uploadPodcast
  form(action="podcasts", enctype="multipart/form-data", method="post")
    legend
      span Enter your podcast information
    ul
      li
        label(for="title") Title
          input(id="title", name="title", type="text")
      li
        label(for="description") Description
          input(id="description", name="description", type="text")
      li
        label(for="timestamp") Timestamp
          input(id="timestamp", name="timestamp", type="text")
      li
        label(for="podcast") Podcast
          input(id="podcast", name="podcast", type="file")
      li
        input(id="submit", name="submit", type="submit", value="Submit")

mixin topnav(user)
  nav.top
    .col-md-8
      ul
        li
          a(href="/") Home
        li
          a(href="/pricing") Pricing
        li
          a(href="/about") About
        li
          a(href="/how-it-works") How it works
        if locals.user
          li
            a(href="/dashboard") Dashboard
    .col-md-4
      .loginStatus
        if locals.user
          ul
            li Hey, #{user.firstname}
            li
              a(href="/logout") Logout
        else
          ul
            li
              a(href="/login") Login
            li
              a(href="/register") Register

